---
BasedOnStyle: LLVM
ColumnLimit: '0'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
IndentPPDirectives: BeforeHash
IndentWidth: '2'
ObjCBlockIndentWidth: '2'
SortIncludes: Never
SpaceBeforeParens: Never

...